[data-loader=ball-rotate] {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 50%;
  right: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  -webkit-animation: ball-rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite;
  -moz-animation: ball-rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite;
  -o-animation: ball-rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite;
  animation: ball-rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite;
  border-radius: 100%;
  background-color: #9356dc;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

[data-loader=ball-rotate]:before,
[data-loader=ball-rotate]:after {
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 2px;
  content: "";
  opacity: 0.8;
  border-radius: 100%;
  background-color: #99e2d0;
}

[data-loader=ball-rotate]:before {
  top: 0;
  left: -28px;
}

[data-loader=ball-rotate]:after {
  top: 0;
  left: 25px;
}

@-webkit-keyframes ball-rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    -ms-transform: rotate(180deg) scale(0.6);
    -o-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@-moz-keyframes ball-rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    -ms-transform: rotate(180deg) scale(0.6);
    -o-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@-o-keyframes ball-rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    -ms-transform: rotate(180deg) scale(0.6);
    -o-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@keyframes ball-rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    -ms-transform: rotate(180deg) scale(0.6);
    -o-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
.animationOverlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
  -webkit-animation: sortie-animation 3s 0s;
  animation: sortie-animation 3s;
  animation-fill-mode: forwards;
}

@keyframes sortie-animation {
  0% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  90% {
    opacity: 0%;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0%;
    -webkit-transform: translateX(-99999px);
    -moz-transform: translateX(-99999px);
    -ms-transform: translateX(-99999px);
    -o-transform: translateX(-99999px);
    transform: translateX(-99999px);
  }
}
#logo {
  font-family: "Shrikhand", cursive;
}

span, h1, h2, h3, h4, h5, h6, a, p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
  border: 0;
  text-decoration: none;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1rem 2rem 1rem 2rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 0.5rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
}
.btn:hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  transform: scale(1.15);
  transition-duration: 200ms;
}

body {
  margin: 0 0 0 0;
}

html {
  scroll-behavior: smooth;
  /* Does not work on Safari without Experimentals Features*/
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@media (prefers-reduced-motion: reduce) {
  /* https://developer.mozilla.org/fr/docs/Web/CSS/scroll-behavior#accessibilit%C3%A9 */
  html {
    scroll-behavior: auto;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0 0 0 0;
  box-shadow: 0rem 0rem 0.5rem 0 rgba(0, 0, 0, 0.7);
}
.header__arrow {
  display: inline-flex;
  position: relative;
  right: 20%;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.header__logo {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
}
.header__logo__text {
  font-size: 1.7rem;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

@media only screen and (min-width: 916px) {
  .header__arrow {
    display: none;
  }
}
.location {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  background-color: #dbdbdb;
}
.location__text {
  padding-left: 1rem;
  font-size: 1rem;
  margin: 0 0 0 0;
  font-weight: 400;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 4rem 3rem;
}
.menu__title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
  padding: 0 0 1rem 0;
}
.menu__subtitle {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 0 2rem 0;
}

@media only screen and (min-width: 916px) {
  .menu {
    padding: 0 0 0 0;
  }
}
.howItWork {
  background-color: white;
  padding: 3rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
}
.howItWork__title {
  font-size: 1.7rem;
}
.howItWork__step {
  display: flex;
  align-items: center;
  margin: 0 0 1.7rem 2rem;
  padding: 1.5rem 0 1.5rem 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0rem 0rem 0.8rem 0 rgba(0, 0, 0, 0.4);
  transition-duration: 200ms;
}
.howItWork__step:hover {
  background-color: rgba(147, 86, 220, 0.2);
  box-shadow: 0rem 0rem 1rem 0 rgba(0, 0, 0, 0.6);
  transition-duration: 200ms;
}
.howItWork__step:hover .howItWork__step__icon {
  color: #9356dc;
}
.howItWork__step__icon {
  color: grey;
  font-size: 1.5rem;
}
.howItWork__step__number {
  position: relative;
  right: 1rem;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: white;
  background-color: #9356dc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.howItWork__step__text {
  font-weight: bold;
  padding: 0 0 0 1rem;
  margin: 0 0 0 0;
}

@media only screen and (min-width: 916px) {
  .howItWork {
    background-color: #f0f0f0;
    height: fit-content;
    padding: 1rem 0 0 0;
  }
  .howItWork__title {
    margin: 1rem 0 1rem 0;
    align-self: center;
  }
  .howItWork__step {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
}
.restaurants {
  padding: 2rem 1rem 2rem 1rem;
}
.restaurants__title {
  font-size: 1.7rem;
  font-weight: bold;
}
.restaurants__allcards__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem 0 1rem 0;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.8rem 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: black;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition-duration: 200ms;
}
.restaurants__allcards__card:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  transition-duration: 200ms;
}
.restaurants__allcards__card__img {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 10rem;
}
.restaurants__allcards__card__img__img {
  object-fit: cover;
  width: 100%;
  height: 10rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.restaurants__allcards__card__img__new {
  display: block;
  position: relative;
  left: calc(100% - 5rem);
  bottom: 9rem;
  font-family: "Roboto", sans-serif;
  background-color: #99e2d0;
  color: #269B7C;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-size: 0.9rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
  margin: 0 0 0 0;
  z-index: 1;
}
.restaurants__allcards__card__img__new-disable {
  display: none;
}
.restaurants__allcards__card__name {
  padding: 1rem 0 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.restaurants__allcards__card__city {
  padding: 0 1rem 0 1rem;
  font-weight: 300;
}
.restaurants__allcards__card__heart {
  position: relative;
  left: calc(100% - 3rem);
  bottom: 3rem;
  font-size: 1.5rem;
  margin: 0 0 0 0;
  width: min-content;
}
.restaurants__allcards__card__heart:hover {
  font-weight: 900;
  color: #9356dc;
  transform: scaleX(1);
  animation-name: heart-hover;
  animation-duration: 200ms;
}

@keyframes heart-hover {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scaleX(1);
  }
}
@media only screen and (min-width: 916px) {
  .restaurants {
    height: fit-content;
  }
  .restaurants__allcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .restaurants__allcards__card {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}
.footer {
  margin: 0 0 0 0;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 13rem;
}
.footer__logo {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding: 0 0 0 1rem;
  text-decoration: none;
  font-size: 1.7rem;
  color: white;
  font-family: "Shrikhand", cursive;
}
.footer__img {
  width: 7rem;
  padding: 2rem 0 1rem 1rem;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.footer__link {
  display: flex;
  padding: 0 0 1rem 1rem;
  color: white;
  text-decoration: none;
}
.footer__link__icon {
  width: 1rem;
  padding: 0 0.5rem 0 0;
}

@media only screen and (min-width: 916px) {
  .footer {
    width: 100%;
  }
}
.rightPartOnComputer {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

@media only screen and (min-width: 916px) {
  .rightPartOnComputer {
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    float: right;
  }
}
main {
  min-height: calc(100vh - 13rem);
  background-color: #f0f0f0;
}

.pageRestaurant {
  padding: 0 0 1rem 0;
}
.pageRestaurant__img {
  object-fit: cover;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.pageRestaurant__title {
  position: relative;
  font-weight: 300;
  bottom: 2rem;
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  padding: 1.5rem 0 0 1rem;
  background-color: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 0 0 0 0;
}
.pageRestaurant__title__heart {
  float: right;
  padding: 0 2rem 0 0;
  font-size: 1.5rem;
  margin: 0 0 0 0;
  width: min-content;
}
.pageRestaurant__title__heart:hover {
  font-weight: 900;
  color: #9356dc;
  transform: scaleX(1);
  animation-name: heart-hover;
  animation-duration: 200ms;
}
.pageRestaurant__menu__categorie {
  padding: 0 0 2rem 0;
}
.pageRestaurant__menu__categorie__title {
  font-weight: 300;
  margin: 0 0 0 1rem;
  width: 2rem;
  border-bottom: 3px solid #99e2d0;
}
.pageRestaurant__menu__categorie__plat {
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem 1rem 0 1rem;
  margin: 1rem 1rem 0 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.8rem 0 rgba(0, 0, 0, 0.4);
  justify-items: center;
  cursor: pointer;
  -webkit-animation: 0.5s ease-in-out 4s apparition;
  animation: 0.5s ease-in-out 4s apparition;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.pageRestaurant__menu__categorie__plat:hover .pageRestaurant__menu__categorie__plat__animation {
  right: 0rem;
  opacity: 100%;
}
.pageRestaurant__menu__categorie__plat:hover .pageRestaurant__menu__categorie__plat__animation__check {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.pageRestaurant__menu__categorie__plat:hover .pageRestaurant__menu__categorie__plat__text {
  padding: 0 5rem 0 0;
}
.pageRestaurant__menu__categorie__plat:hover .pageRestaurant__menu__categorie__plat__price {
  margin: 0 0 0 -5rem;
}
.pageRestaurant__menu__categorie__plat__text {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.pageRestaurant__menu__categorie__plat__text__title {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pageRestaurant__menu__categorie__plat__text__subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: lighter;
  justify-content: space-between;
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pageRestaurant__menu__categorie__plat__text__subtitle__text {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: lighter;
  font-size: 0.8rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.pageRestaurant__menu__categorie__plat__text__subtitle__price {
  display: block;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0 0.2rem 0.2rem;
  margin: 0 0 0 0;
}
.pageRestaurant__menu__categorie__plat__animation {
  background-color: #99e2d0;
  height: 100%;
  width: 5rem;
  position: absolute;
  right: -5rem;
  top: 0;
  padding: 0 0 0 0;
  justify-content: center;
  align-items: center;
  transition: right 0.5s ease-out;
  -webkit-transition: right 0.5s ease-out;
  -moz-transition: right 0.5s ease-out;
  -ms-transition: right 0.5s ease-out;
  -o-transition: right 0.5s ease-out;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  opacity: 100%;
}
.pageRestaurant__menu__categorie__plat__animation__check {
  font-size: 1.3rem;
  color: white;
  padding: 0 0 0 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition-duration: 0.7s;
}

@keyframes heart-hover {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scaleX(1);
  }
}
@media only screen and (min-width: 916px) {
  .pageRestaurant__img {
    height: 25rem;
  }
  .pageRestaurant__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pageRestaurant__menu__categorie {
    width: 33%;
  }
  .pageRestaurant__menu__commander {
    display: flex;
    order: 1;
  }
}
.pageRestaurant__menu__categorie__plat:nth-child(1) {
  animation-delay: 2.56s;
}

.pageRestaurant__menu__categorie__plat:nth-child(2) {
  animation-delay: 2.62s;
}

.pageRestaurant__menu__categorie__plat:nth-child(3) {
  animation-delay: 2.68s;
}

.pageRestaurant__menu__categorie__plat:nth-child(4) {
  animation-delay: 2.74s;
}

.pageRestaurant__menu__categorie__plat:nth-child(5) {
  animation-delay: 2.8s;
}

.pageRestaurant__menu__categorie__plat:nth-child(6) {
  animation-delay: 2.86s;
}

.pageRestaurant__menu__categorie__plat:nth-child(7) {
  animation-delay: 2.92s;
}

.pageRestaurant__menu__categorie__plat:nth-child(8) {
  animation-delay: 2.98s;
}

.pageRestaurant__menu__categorie__plat:nth-child(9) {
  animation-delay: 3.04s;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
