body {
  margin : 0 0 0 0;
  overflow-x: hidden;
}

html    {
  scroll-behavior: smooth; /* Does not work on Safari without Experimentals Features*/
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;  
}

@media (prefers-reduced-motion: reduce) {      /* https://developer.mozilla.org/fr/docs/Web/CSS/scroll-behavior#accessibilit%C3%A9 */ 
  html {
    scroll-behavior: auto;
  }
}