.footer{
    margin: 0 0 0 0;
    background-color:$footer-colour;
    display: flex;
    flex-direction: column;

    &__logo {
    display :flex;
    align-content: center;
    justify-content: flex-start;
    padding: 0 0 0 1rem;
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
    font-family: 'Shrikhand', cursive;
    }

    &__img  {
        width: 7rem;
        padding: 2rem 0 1rem 1rem;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    &__link {
        padding: 0 0 1rem 1rem;
        color: white;
        text-decoration: none;
        
        &__icon {
            width:1rem;
            padding: 0 .5rem 0 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .footer{
        width: 100%;
    }
}