.howItWork   {
    background-color: white;
    padding: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;

    &__title    {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    &__step {
        display: flex;
        align-items: center;
        margin: 0 .7rem 1.7rem .7rem;
        padding: 1.5rem 0 1.5rem 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        box-shadow: 0rem 0rem 0.8rem 0 rgba(0, 0, 0, 0.4);
        transition-duration: 200ms ;

        &:hover{
            background-color:transparentize($colour-primary, 0.8);
            box-shadow: 0rem 0rem 1rem 0 rgba(0, 0, 0, 0.6);
            transition-duration: 200ms ;

            .howItWork__step__icon {
                color: $colour-primary;

            }
        }

        &__icon {
            color: grey;
            font-size: 1.5rem;
        }

        &__number   {
            position: relative;
            right: 1rem;
            width: 25px;
            height:25px;
            text-align: center;
            line-height: 25px;
            color: $white;
            background-color: $colour-primary;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            border-radius: 100%;
        }

        &__text {
            font-weight: bold;
            padding: 0 0 0 1rem;
            margin: 0 0 0 0;
        }
    }
}

@media only screen and (min-width: 916px) {
    .howItWork{
        background-color: $grey;
        height: fit-content;
        padding : 1rem 0 0 0;

        &__title { 
            margin : 1rem 0 1rem 0;
            align-self: center;
        }

        &__step {
            margin: .5rem 1rem .5rem 1rem;
        }
    }
}