.location {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    background-color: $location-colour;

    &__text   {
        padding-left: 1rem;
        font-size: 1rem;
        margin : 0 0 0 0;
        font-weight: 400;
    }
}