.location {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    background-color: $location-colour;

    &__form{

        &__input   {
            font-size: 1rem;
            margin : 0 0 0 1rem;
            font-weight: 400;
            border: none;
            background-color: $location-colour;
        }
    }

}