.rightPartOnComputer    {
    padding: 0 0 0 0;
    margin : 0 0 0 0;
}

@media only screen and (min-width: 916px) {
    .rightPartOnComputer   {
        padding : 2rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        width: 40%;
        float: right;
    }
}