.btn  {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    color : $white;
    border: 0;
    text-decoration: none;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 200ms;

    &:hover {
        background-image: linear-gradient(lighten($colour-secondary, 5%), lighten($colour-primary, 5%));
        transform: scale(1.15);
        transition-duration: 200ms;
    }
}